In [16]:
import pandas as pd
import numpy as np
import time

In [17]:
data = pd.read_csv('data/raw/SYB65_145_202209_Land.csv')
data.columns = ['region_country_area', 'land', 'year', 'metric_type', 'value', 'footnotes', 'source']

data = data.drop(data.index[0])

print(f"Shape is: {data.shape}")
data.head()

Shape is: (6285, 7)

,region_country_area,land,year,metric_type,value,footnotes,source
1,1,"Total, all countries or areas",2005,Land area (thousand hectares),"13,020,109",NaN,Food and Agriculture Organization of the Unite...
2,1,"Total, all countries or areas",2005,Arable land (thousand hectares),"1,366,253",NaN,Food and Agriculture Organization of the Unite...
3,1,"Total, all countries or areas",2005,Permanent crops (thousand hectares),"145,136",NaN,Food and Agriculture Organization of the Unite...
4,1,"Total, all countries or areas",2005,Forest cover (thousand hectares),"4,132,183",NaN,Food and Agriculture Organization of the Unite...
5,1,"Total, all countries or areas",2005,Arable land (% of total land area),10.5,NaN,Food and Agriculture Organization of the Unite...

In [18]:
data.drop(['region_country_area', 'footnotes', 'source'], axis=1, inplace=True)

print(f"Shape is: {data.shape}")
data.head()

Shape is: (6285, 4)

,land,year,metric_type,value
1,"Total, all countries or areas",2005,Land area (thousand hectares),"13,020,109"
2,"Total, all countries or areas",2005,Arable land (thousand hectares),"1,366,253"
3,"Total, all countries or areas",2005,Permanent crops (thousand hectares),"145,136"
4,"Total, all countries or areas",2005,Forest cover (thousand hectares),"4,132,183"
5,"Total, all countries or areas",2005,Arable land (% of total land area),10.5

In [19]:
data['value'] = data['value'].str.replace(',', '').astype(float)
data.head()

,land,year,metric_type,value
1,"Total, all countries or areas",2005,Land area (thousand hectares),13020109.0
2,"Total, all countries or areas",2005,Arable land (thousand hectares),1366253.0
3,"Total, all countries or areas",2005,Permanent crops (thousand hectares),145136.0
4,"Total, all countries or areas",2005,Forest cover (thousand hectares),4132183.0
5,"Total, all countries or areas",2005,Arable land (% of total land area),10.5

In [20]:
data.to_csv('data/cleaned/SYB65_145_202209_Land.csv', index=False)